<!--xml version = "1.0"-->
<launch>
    <node name="joy" pkg="joy" type="joy_node" />

    <node name = "teleop_twist_joy" pkg = "teleop_twist_joy" type = "teleop_node">
        <!--enable-->
        <param name = "enable_button" value = "4" type = "int" />
        <!--enable turbo-->
        <param name = "enable_turbo_button" value = "0" />
        <param name = "scale_linear_turbo" value = "0.5" type = "double" />
        <!--linear-->
        <param name = "axis_linear" value = "1" type = "int" />
        <param name = "scale_linear" value = "0.3" type = "double" />
        <!--angular-->
        <param name = "axis_angular" value = "0" type = "int" />
        <param name = "scale_angular" value = "0.3" type = "double" />
    </node>

    <node name="autolabor_driver" pkg="autolabor_pro1_driver" type="autolabor_pro1_driver" output="screen">
        <param name="port_name" value="/dev/ttyUSB0" />
        <param name="odom_frame" value="odom" />
        <param name="base_frame" value="base_link" />

        <param name="baud_rate" value="115200" />
        <param name="control_rate" value="10" />
        <param name="sensor_rate" value="5" />

        <param name="reduction_ratio" value="1.0" />
        <param name="encoder_resolution" value="1600.0" />

        <param name="wheel_diameter" value="0.25" />
        <param name="model_param" value="0.83" />
        <param name="pid_rate" value="50.0" />
	    <param name="maximum_encoding" value="32.0" />
    </node>
</launch>
